<div class="container border">
  <div class="row">
    <div class="col-md-4 p-3" >
      <div class="img-cover text-center">
        <img src="<%= @user.photo%>" alt="not found" width="180">
      </div>
    </div>
    <div class="col-md-8 p-3" >
      <div class="border p-4"><h3><%= @user.name%></h3>
      <h6 class="pull-right text-right">Number of posts:<%=@user.posts_counter%></h6></div>
    </div>
  </div>
  <% @posts.each_with_index do |post,index| %>
    <div class="row mt-1 mb-1">
      <div class="col-md-12">
        <div class="border p-2">
          <h4><%= link_to "#{post.title}", user_post_path(id:post.id) %></h4>
          <p>
            <%= post.text %>
          </p>
          <p class="text-right m-0"><small>Comments:<%=post.comments_counter %></small>,<small>Likes:<%=post.likes_counter %></small></p>
        </div>
      </div>
    </div>
   <% post.recent_comments.includes(:author).each do |comment| %>
      <div class="row">
        <div class="col-md-12">
          <div class="border p-2">
            <p class="text-left m-0"><small><%= comment.author.name %></small> : <small><%= comment.text %></small></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-12 text-center m-1">
      <button class="btn btn-secandary">Pagination</button>
    </div>
  </div>
</div>