<div class="container border">
   <div class="row mt-1 mb-1">
    <div class="col-md-12">
      <div class="border p-2">
      <div class="btn_container">
      </div>
        <%= render partial: "shared/like", locals: { like: Like.new, post_id: @post.id, user_id: @post.author.id } %>
        <%= button_to "Comment", new_user_post_comment_path(user_id: @post.author.id, post_id: @post.id), method: :get, class: "add_comment" %>
        <div class="d-flex justify-content-between"><h4 class="m-1"><%= @post.title %></h4>
          <p class="text-right m-1 bg-primary"><small>Comments:<%=@post.comments_counter %></small>,<small>Likes:<%=@post.likes_counter %></small></p>
        </div>
        <p>
          <%= @post.text %>
        </p>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-md-12">
      <div class="border pl-1">
        <% @post.comments.includes(:author).each do |comment| %>
          <p class="text-left m-0"><small><%= comment.author.name %></small> : <small><%= comment.text %></small></p>
        <% end %>
      </div>
    </div>
  </div>
</div>